<nav class="nav-main" id="js-nav-main">
    <div class="contain">
        <ul class="nav-main__onpage">
            <li><a data-scroll href="#park">The Park</a></li>
            <li><a data-scroll href="#help">Help Out</a></li>
            <li><a data-scroll href="#news">News &amp; Events</a></li>
        </ul>
        <ul class="nav-main__social">
            <li><a class="title--font" href="">Sign the Petition</a></li>
            <li><a href="#" class="icon-facebook-square"><span class="screen-reader">Contact Us</span></a></li>
            <li><a href="#" class="icon-mail"><span class="screen-reader">Facebook</span></a></li>
        </ul>
    </div>
</nav>
<a href="#" id="js-mobile-nav" class="mobile-nav"><span class="hamburger"></span><span class="hamburger-text">Menu</span></a>