// --------------------------------------------------
// COLOR VARIABLES
// --------------------------------------------------

// ---------------------- Base Colors
$color_red: #f30f65;
$color_pink: #D50C6D;
$color_pink_light: #FEF4F4;
$color_purple: #DA0D78;
$color_purple_light : #F8E6F3;
$color_purple_dark: #9B2CA5;
$color_gray: #1E1E1E;
$color_gray_light: #979797;

// ---------------------- Applied Colors
$color_background-body: #fff;
$color_background-screen: #f1f1f1;
$color_background-hr: #ccc;
$color_background-button: #e6e6e6;
$color_background-pre: #eee;
$color_background-ins: #fff9c0;

$color_text-screen: #21759b;
$color_text-input: #666;
$color_text-input-focus: #111;
$color_link: royalblue;
$color_link-visited: purple;
$color_link-hover: midnightblue;
$color_text: #404040;

$color_border-button: #ccc #ccc #bbb;
$color_border-button-hover: #ccc #bbb #aaa;
$color_border-button-focus: #aaa #bbb #bbb;
$color_border-input: #ccc;
$color_border-abbr: #666;
$color_border: #ccc;

// --------------------------------------------------
// TYPOGRAPHY VARIABLES
// --------------------------------------------------
$font_paragraph: 'Lato', sans-serif;
$font_alternate: 'Permanent Marker', cursive;
$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;
$font_line-height-body: (28/18);
$font_line-height-pre: 1.6;

// --------------------------------------------------
// MEDIA QUERIES
// --------------------------------------------------
$bp_s: 480px;
$bp_m: 768px;
$bp_l: 960px;