{% extends "_layout" %}
{% set title = entry.title %}
{% if entry.articleDescription|length %}
    {% set description = entry.articleDescription %}
{% endif %}

{% block body %}
    <script type="text/javascript">
    (function() {
        var backBtn = document.getElementById('btn-close');
        backBtn.addEventListener('click', function(e) {
            var linkTarget = this.getAttribute('href');
            document.body.classList.add('is-loading');
            e.preventDefault();

            setTimeout(function() {
              window.location.href = linkTarget;
            }, 500);
        });
    });
    </script>
    {{ parent() }}
{% endblock %}