// --------------------------------------------------
// MAIN STYLES FOR THE SITE
// --------------------------------------------------

body {
    animation: fade 0.5s ease;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.screen-reader {
    @extend %visuallyhidden;
}

.is-loading {
    opacity: 0;
}

.no-mas {
    animation: shake .7s ease;
}

.bg {
    &-gradient {
        background-image: linear-gradient(135deg, $color_purple_light 0%, $color_pink_light 100%);
        position: relative;
        padding: 10px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            background-color: #fff;
            width: 10px; height: 100%;
            top: 0;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        @include media('1240px') {
            &:before,
            &:after {
                width: 20px;
            }
        }
    }

    &-dark {
        background-color: $color_gray;
    }
}

.title {
    margin-top: 0;

    p {
        margin: 0;
        padding: 0;
    }

    &--font {
        font-family: $font_alternate;
    }

    &--shutdown {
        color: #fff;
        display: block;
        position: relative;
        float: left;
        margin-top: 0.1em;
        margin-bottom: 0.7em;

        &:before {
            content:'';
            z-index: -1;
            position: absolute;
            left: -60px;
            width: 130%; height: 105%;
            display: block;
            background-color: $color_gray;
            transform: rotate(-2deg);
            transform-origin: 50% 50%;
        }
    }

    &--color {
        color: $color_red;
    }
}

.contain {
    @include container(1200px);
    padding-right: 15px; padding-left: 15px;
    @include media($bp_m) {
        padding-right: 20px; padding-left: 20px;
    }
}

.layer {
    @include clearfix();
    margin-top: 4em;
    @include media($bp_m) {
        margin-top: 6em;
    }
}

// --------------------------------------------------
// PARK SECTION
// --------------------------------------------------

.park {
    .clear {
        clear: both;
    }

    @include media($bp_m, 'max-width') {
        .contain {
            display: flex;
            flex-direction: column-reverse;
        }

        &__content {
            margin-bottom: 1em;
        }
    }

    &__images {
        border: {
            top: 1px solid $color_gray;
            right: 1px solid lighten($color_gray, 60%);
            left: 1px solid lighten($color_gray, 60%);
            bottom:1px solid $color_gray;
        }
        background-color: #fff;

        @include media($bp_m) {
            @include span(6);
        }

        img {
            width: 100%;
            display: block;
        }
    }

    &__media {
        border-bottom: 4px solid $color_red;
        position: relative;

        ul {
            @extend %list-zero;
        }
    }

    &__carousel {
        opacity: 1;
        position: relative;
        z-index: 2;

        .is-map & {
            opacity: 0;
            visibility: none;
            pointer-events: none;
        }

        @include media($bp_s) {
            transform: scale(1);
            transition: 0.3s opacity ease, 0.3s transform ease;

            .is-map & {
                transform: scale(0.8);
            }
        }
    }

    &__content {
        @include media($bp_m) {
            @include span(9);
            @include last();
        }
    }

    &__caption {
        padding: 30px;

        p {
            margin: 0;
            font-weight: 300;
            line-height: (30/18);
        }
    }

    &__map {
        position: absolute;
        z-index: 0;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=39.741049,-104.958437&zoom=13&scale=2&size=359x231&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xef49e4%7Clabel:1%7C39.741049,-104.958437');
    }
}

.btn-toggle {
    position: absolute;
    left: 10px; top: 10px;
    z-index: 3;
    transition: width 0.3s ease;

    .icon-close {
        display: none;
    }

    .is-map & {
        .icon-close {
            display: inline-block;
        }

        .icon-location {
            display: none;
        }
    }
}

// --------------------------------------------------
// HELP SECTION
// --------------------------------------------------

.help {
    .title {
        position: relative;
        top: -0.85em;
        text-align: center;
        @include media($bp_m, 'max-width') {
            margin-bottom: 0;
        }
    }

    .bg-gradient {
        padding-bottom: 3em;
        @include media($bp_m) {
            padding-bottom: 0;
        }
    }

    &__img {
        display: none;
        @include media($bp_s) {
            display: block;
        }
        @include media($bp_m) {
            @include span(4);
        }
    }

    &__list {
        @extend %list-zero;

        @include media($bp_m) {
            @include span(11);
            @include last();
        }
    }

    &__list-number {
        @include font-size(2);
        height: 22px; width: 22px;
        line-height: 22px;
        text-align: center;
        display: block;
        float: left;
        margin-right: .2em;
        background-color: $color_red;
        color: #fff;
        border-radius: 50%;
        margin-top: 3px;

        @include media($bp_s) {
            display: none
        }
    }

    &__list-item {
        margin: 1em 0;
        @include media($bp_s) { margin: 0.75em 0; }
        @include media($bp_s) { margin: 0.5em 0; }

        [class^='icon-'] {
            display: inline-block;
            vertical-align: middle;
        }

        h2 {
            display: inline;
            color: $color_gray;
            @include font-size(2.4);
            margin: 0 0 0 .5em;

            @include media($bp_s) {
                &:after {
                    content: '->';
                    transition: transform 0.3s ease;
                    transform: translate(0,0);
                    display: inline-block;
                    margin-left: 0.4em;
                }
            }
        }

        a {
            display: block;

            &:hover {
                h2:after {
                    transform: translate(10px,0);
                }
            }
        }

        [class^="icon-"] {
            display: none;
            @include font-size(3);
            text-align: center;
            color: #fff;
            background-image: linear-gradient(135deg, $color_purple 0%, $color_red 100%);
            border-radius: 50%;
            width: 70px; height: 70px;
            line-height: 70px;
            @include media($bp_s) {
                display: inline-block;
            }
        }

        @include media($bp_m) {
            [class^="icon-"] {
                @include font-size(3.8);
                width: 90px; height: 90px;
                line-height: 90px;
            }

            h2 {
                @include font-size(3.6);
            }
        }
    }
}

// --------------------------------------------------
// NEWS SECTION
// --------------------------------------------------

.news {
    text-align: center;

    &__petition {

        h2 {
            font-weight: 300;
        }

        .title--color {
            @include font-size(5);
            margin-right: .1em;
            font-weight: 700;
            line-height: 0;
            position: relative;
            top: 4px;
        }

        @include media($bp_m) {
            position: relative;

            .btn-solid {
                position: absolute;
                height: 100%; width: 120px;
                @include font-size(3.2);
                text-align: center;
                line-height: 1;
                padding: 30px 10px 0;
                top: 0; right: 10px;
                @include media('1240px') {
                    right: 20px
                }
            }

            h2 {
                margin-right: 120px;
            }
        }
    }

    &__item {
        animation: growFade .5s ease;
        margin-bottom: 3em;
        @include media($bp_s) {
            @include gallery(6 of 12);
        }
        @include media($bp_l) {
            @include gallery(5 of 15);
        }

        h1 {
            @include font-size(2.4);
            font-weight: 700;
            text-transform: none;
            margin-bottom: .2em;

            a {
                color: $color_gray;
            }
        }

        p {
            margin-bottom: 2em;
        }
    }

    &__grid {
        text-align: left;
        @include clearfix();
        margin: 3em 0 3em;
        transition: height 0.3s ease;
    }

    .btn-clear {
        cursor: pointer;
        position: relative;

        .text {
            opacity: 1;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        &.is-busy {

            .spinner {
                display: block;
                position: absolute;
                left: 50%; top: 50%;
                margin-left: -35px; margin-top: -23px;
            }

            .text {
                opacity: 0;
                transform: translate3d(0, 10px, 0);
            }
        }
    }
}

time {
    @include font-size(2.2);
    font-weight: 300;
    font-style: italic;
    color: $color_red;
}
