{% extends "_layout" %}

{% block main %}
    <div class="site-content" id="top">
        {% include '_includes/nav' %}
        {% include '_includes/hero' %}
        <main>
            <section class="park layer" id="park">
                <div class="contain">
                    <figure class="park__images">
                        <div class="park__media">
                            <a class="btn-toggle" id="js-map-toggle" href="#"><span class="icon-close"></span><span class="icon-location"></span> View Map</a>
                            {% set assets = entry.parkPhotos %}
                            {% if assets | length  %}
                                <ul class="park__carousel" id="js-park-gallery">
                                {% for asset in assets %}
                                    <li><img src="{{ asset.url }}"></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="park__map" id="js-park-map">
                                <img alt="Josephine Gardens Dog Park" src="https://maps.googleapis.com/maps/api/staticmap?center=39.741049,-104.958437&zoom=15&size=400x400&markers">
                            </div>
                        </div>
                        <figcaption class="park__caption">
                            {{ entry.photosCaption }}
                        </figcaption>
                    </figure>
                    <div class="park__content">
                        <h1 class="title">{{ entry.firstRichTitle | replace ({'%<p>%': '', '%</p>%': ''}) | raw }} <div><span class="title--font title--shutdown">{{ entry.firstRichTitle2 | replace ({'%<p>%': '', '%</p>%': ''}) | raw }}</span></div></h1>
                        <div class="clear">{{ entry.body }}</div>
                    </div>
                </div>
            </section>
            <section class="help layer" id="help">
                <div class="bg-gradient">
                    <div class="contain">
                        <h1 class="title">{{ entry.secondRichTitle | replace ({'%<p>%': '', '%</p>%': ''}) | raw }}</h1>
                        <div class="help__img"><img src="/assets/img/dog-sad.png" alt="sad dog"></div>
                        <ul class="help__list">
                            {% for helpItem in entry.helpOptions %}
                                <li class="help__list-item">
                                    <a class="js-ajax" href="{{ helpItem.iconLink }}">
                                        <span class="help__list-number">{{ loop.index0 + 1 }}</span>
                                        <span class="icon-{{ helpItem.iconType }}"></span>
                                        <h2 class="title--font">{{ helpItem.iconText }}</h2>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="news layer" id="news">
                <h1 class="title">{{ entry.richTitle | replace ({'%<p>%': '', '%</p>%': ''}) | raw }}</h1>
                <div class="news__petition bg-gradient">
                     <div class="contain">
                        <h2><span class="title--color">1,200</span> dog lovers have signed the petition</h2>
                        <a target='_blank' class="btn-solid" href="{{ globalMedia.petitionUrl }}">Join Us!</a>
                    </div>
                </div>

                <div class="contain">
                    {% include '_includes/news' %}
                </div>

            </section>
        </main>

        {% include '_includes/footer' %}

    </div>
{% endblock %}
